h1 {
    background-color: rgba(243, 201, 124, 0.993);
    color:rgb(39, 37, 37);
}

h2{
    background-color: rgba(246, 239, 170, 0.993);
    color:rgb(39, 37, 37);
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    font-family:"Arial", sans-serif;
}

.recipelist:hover{
    background-color: yellow;
}

.recipelist .recipe:hover{
    color:red;
}

img.foodcover{
    width: 500px;
    height: auto;
}
